<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Products</title>
    <div layout:fragment="stylesheets">
        <link rel="stylesheet" th:href="@{/stylesheets/meanmenu.min.css}">
        <link rel="stylesheet" th:href="@{/stylesheets/easyzoom.css}">
        <link rel="stylesheet" th:href="@{/stylesheets/flashy.css}">
        <link rel="stylesheet" th:href="@{/stylesheets/jquery.rateyo.min.css}">
        <style>
            .flashy-container .flashy-content.flashy-inline {
                width: auto;
            }
        </style>
    </div>
</head>
<body>
    <div layout:fragment="content">
        <div class="product-details pt-20 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-7 col-12">
                        <div class="product-details-img-content">
                            <div class="product-details-tab mr-70">
                                <div class="product-details-large tab-content">
                                    <div class="tab-pane active show fade" id="product_id_0"
                                         role="tabpanel">
                                        <div class="prod-details">
                                            <img th:src="@{'/images' + ${product.images[0].url}}" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" role="tabpanel"
                                         th:each="image, iter :${product.images.subList(1, product.images.size())}"
                                         th:id="${'product_id_' + (iter.index + 1)}">
                                        <div class="prod-details">
                                            <img th:src="@{'/images' + ${image.url}}" alt="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5 col-12">
                        <div class="product-details-content">
                            <h3 th:text="${product.name}"></h3>
                            <div class="rating-number">
                                <div class="rating" th:text="${product.rating}">2</div>
                            </div>
                            <div class="details-price">
                                <span th:text="${'₦' + #numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></span>
                            </div>
                            <p th:text="${product.description}"></p>
                            <div class="quickview-plus-minus">
                                <div class="cart-plus-minus">
                                    <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box">
                                </div>
                                <div class="quickview-btn-cart">
                                    <a class="btn-hover-black" href="#">add to cart</a>
                                </div>
                            </div>
                            <div class="product-categories product-cat-tag">
                                <ul>
                                    <li class="categories-title">Categories :</li>
                                    <li><a href="#" th:text="${product.category.category}"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-details-small nav mt-12 main-product-details" role=tablist>
                            <a class="active mr-12 prod-thumbnail" href="#product_id_0" data-toggle="tab" role="tab"
                               aria-selected="true">
                                <img th:src="@{'/images' + ${product.images[0].url}}" alt="">
                            </a>

                            <a class="mr-12 prod-thumbnail" data-toggle="tab" role="tab"
                               aria-selected="true"
                               th:each="image, iter : ${product.images.subList(1, product.images.size())}"
                               th:href="${'#product_id_' + (iter.index + 1)}">
                                <img th:src="@{'/images' + ${image.url}}" alt="">
                            </a>

                            <!-- Videos -->
                            <a class="mr-12 video-reel" data-flashy-type="inline"
                               th:each="video : ${product.videos}"
                               th:href="${'#video_' + video.id}">
                                <img th:src="@{/images/video.png}" alt="">
                                <div th:id="${'video_' + video.id}" style="display: none;">
                                    <video class="img-fluid" controls="controls">
                                        <source th:src="${'/images' + video.url}"
                                                type="video/mp4">
                                    </video>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description-review-area pb-100">
            <div class="container">
                <div class="product-description-review">
                    <div class="description-review-title nav text-center" role=tablist>
                        <a class="active" href="#" data-toggle="tab" role="tab" aria-selected="true"
                           th:text="${'Reviews (' + product.reviews.size() + ')'}">
                        </a>
                    </div>
                    <div class="description-review-text tab-content">
                        <div class="tab-pane active show fade" id="pro-review" role="tabpanel">
                            <div class="reviews" th:each="review : ${product.reviews}">
                                <div class="reviewer mb-20">
                                    <img th:src="@{'/images' + ${review.reviewerImageUrl}}"
                                         class="mr-10" alt="">
                                    <span th:text="${review.reviewer}"></span>
                                </div>
                                <div class="reviewer-rating" th:id="${'review_' + review.id}"
                                     th:data-rating="${review.rating}"></div>
                                <div class="review" th:text="${review.review}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="javascripts">
        <script type="text/javascript" th:src="@{/javascripts/lib/jquery.flashy.min.js}"></script>
        <script type="text/javascript" th:src="@{/javascripts/lib/jquery.rateyo.min.js}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                let rating = $('.rating').html();
                $('.rating').rateYo({
                    rating: rating,
                    ratedFill: "#ff0000",
                    readOnly: true,
                    halfStar: true,
                    starWidth: "15px"
                });


                let reviewer_ratings = $('.description-review-text').find('.reviewer-rating');
                for (let i = 0; i < reviewer_ratings.length; i++) {
                    let id = reviewer_ratings[i].id;
                    let rating = $('#' + id).data('rating');
                    $('#' + id).rateYo({
                        rating: rating,
                        ratedFill: "#ff0000",
                        readOnly: true,
                        halfStar: true,
                        starWidth: "15px"
                    });
                }

                $('.video-reel').flashy({
                    showClass: 'fx-fadeIn',
                    hideClass: 'fx-fadeOut'
                });
            });
        </script>
    </div>
</body>
</html>