<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta th:replace="fragments/csrf :: csrf" />
    <title>Products</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="product-collection-area pb-50">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h2>Marketplace Collection</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3" th:each="product : ${products}">
                        <div class="single-product mb-35">
                            <div class="product-img mb-10">
                                <a th:href="@{'/products/' + ${product.id}}">
                                    <img th:src="${'/images' + product.imageUrl}" alt="">
                                </a>
                                <span th:if="${product.onSale}">sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4>
                                            <a th:href="@{'/products/' + ${product.id}}"
                                               th:text="${product.name}"></a>
                                        </h4>
                                    </div>
                                    <div class="product-price">
                                        <span th:text="${'₦' + #numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span th:text="${product.category.category}"></span>
                                    </div>
                                    <div class="product-categori">
                                        <a href="#" th:v-on:click.prevent="${'addToCart(' + product.id + ')'}">
                                            <i class="ion-bag"></i> Add to cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation" th:if="${products}">
                            <ul class="pagination justify-content-center"
                                th:if="${products.totalPages > 0}">
                                <li class="page-item"
                                    th:classappend="${products.number + 1==1} ? disabled">
                                    <a class="page-link" aria-label="Previous"
                                       th:href="@{/products(page=${products.number})}">
                                                <span aria-hidden="true">
                                                    <!--<img th:src="@{/images/left-arrow.png}"
                                                         alt="left-arrow">-->
                                                    Previous
                                                </span></a>
                                </li>
                                <li th:class="'page-item'" th:each="pageNumber: ${pageNumbers}"
                                    th:classappend="${pageNumber==products.number + 1} ? active">
                                    <a th:href="@{/products(page=${pageNumber})}"
                                       th:text="${pageNumber}" class="page-link"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${products.number + 1==products.totalPages} ? disabled">
                                    <a class="page-link" aria-label="Next"
                                       th:href="@{/products(page=${products.number + 2})}">
                                                <span aria-hidden="true">
                                                    <!--<img th:src="@{/images/right-arrow.png}"
                                                         alt="left-arrow">-->
                                                    Next
                                                </span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="javascripts">
        <!-- VueJS and other libraries -->
        <script type="text/javascript" th:src="@{/javascripts/lib/vue.js}"></script>
        <script type="text/javascript" th:src="@{/javascripts/lib/axios.min.js}"></script>

        <!-- VueJS app files -->
        <script type="text/javascript" th:src="@{/javascripts/app/vue-app/wootlab-app.js}"></script>
    </div>
</body>
</html>