<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Products</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="product-collection-area pb-50">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h2>New Collection</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable
                        content of a page when look</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/5.jpg}" alt=""></a>
                                <span>sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$110.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/6.jpg}" alt=""></a>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$120.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/7.jpg}" alt=""></a>
                                <span>sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">HANDCRAFTED MUG</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$130.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/8.jpg}" alt=""></a>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">HANDCRAFTED MUG</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$140.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/9.jpg}" alt=""></a>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">HANDCRAFTED MUG</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$150.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/10.jpg}" alt=""></a>
                                <span>sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$160.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/11.jpg}" alt=""></a>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$170.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/12.jpg}" alt=""></a>
                                <span>sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$180.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/5.jpg}" alt=""></a>
                                <span>sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$110.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/6.jpg}" alt=""></a>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$120.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/7.jpg}" alt=""></a>
                                <span>sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">HANDCRAFTED MUG</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$130.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/8.jpg}" alt=""></a>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">HANDCRAFTED MUG</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$140.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/9.jpg}" alt=""></a>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">HANDCRAFTED MUG</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$150.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/10.jpg}" alt=""></a>
                                <span>sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$160.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/11.jpg}" alt=""></a>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$170.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a th:href="@{/products/details}"><img th:src="@{/images/product/12.jpg}" alt=""></a>
                                <span>sale</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a th:href="@{/products/details}">WOODEN FURNITURE</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>$180.00</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>Furniter</span>
                                    </div>
                                    <div class="product-categori">
                                        <a th:href="@{/products/details}"><i class="ion-bag"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>