<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="footer">
    <footer class="footer-area gray-bg pt-100 pb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-12">
                    <div class="footer-widget">
                        <div class="footer-widget-l-content">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <div class="footer-widget">
                        <div class="footer-widget-m-content text-center">
                            <div class="footer-logo">
                                <a href="index.html#">
                                    <img th:src="@{/images/logo.png}" alt="" class="wootlab-logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="footer-widget f-right">
                        <div class="footer-widget-r-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>