<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta th:replace="fragments/csrf :: csrf" />
    <title>Cart</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- shopping-cart-area start -->
        <div class="cart-main-area pt-20 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="cart-heading">Cart</h1>
                        <form action="cart.html#">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product-name">Remove</th>
                                        <th class="product-price"></th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item, index) in cart_items" :key="item.id">
                                        <td class="product-remove">
                                            <a href="#" @click.prevent="removeFromCart(index, false)">
                                                <i class="ion-android-close"></i>
                                            </a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="cart.html#">
                                                <img :src="'/images' + item.product_image_url"
                                                     alt="" width="80" height="80">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="#">{{ item.product }}</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">
                                                {{ formatPrice(item.price) }}
                                            </span>
                                        </td>
                                        <td class="product-quantity">
                                            <input v-model="item.quantity" type="number" min="1">
                                        </td>
                                        <td class="product-subtotal">
                                            {{ computeSubTotal(item.price, item.quantity) }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="coupon-all">
                                        <div class="coupon2" v-if="cart_count > 0">
                                            <input class="button" name="update_cart"
                                                   value="Remove all" type="submit"
                                                   @click.prevent="removeFromCart(0, true)"> &nbsp;
                                            <span class="text-success" v-html="notification_message"
                                                  v-show="show">
                                                Saved
                                                <i class="ion-checkmark"></i>
                                            </span> &nbsp;
                                            <input class="button" name="update_cart"
                                                   value="Update cart" type="submit"
                                                   @click.prevent="updateCart">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Cart total</h2>
                                        <ul>
                                            <li>Total<span>{{ computeTotal() }}</span></li>
                                        </ul>
                                        <a th:href="@{/checkout}" v-if="cart_count > 0">
                                            Proceed to checkout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- shopping-cart-area end -->
    </div>

    <div layout:fragment="javascripts">
        <!-- VueJS and other libraries -->
        <script type="text/javascript" th:src="@{/javascripts/lib/vue.js}"></script>
        <script type="text/javascript" th:src="@{/javascripts/lib/axios.min.js}"></script>

        <!-- VueJS app files -->
        <script type="text/javascript" th:src="@{/javascripts/app/vue-app/wootlab-app.js}"></script>
    </div>
</body>
</html>