<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Confirmation</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- register-area start -->
        <div class="register-area ptb-20">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-4 col-xl-4 ml-auto mr-auto"
                         style="text-align: center">
                        <h1 class="pt-20">Order confirmed <br>
                            <span class="ion-checkmark-circled text-success"></span>
                        </h1>
                        <h3>You will receive a confirmation email shortly.</h3>
                        <div class="button-box pt-30">
                            <a th:href="@{/products}" class="default-btn">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
    </div>

</body>
</html>