<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta th:replace="fragments/csrf :: csrf" />
    <title>Confirmation</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- register-area start -->
        <div class="register-area ptb-20">
            <div class="container">
                <div class="row" style="height: 500px">
                    <div class="col-md-12 col-12 col-lg-4 col-xl-4 ml-auto mr-auto">
                        <div id="paymentContainer"></div>
                        <div class="button-box pt-30">
                            <div align="center">
                                <a th:href="@{/checkout}" class="default-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
    </div>

    <div layout:fragment="javascripts">
        <script src="https://js.paystack.co/v1/inline.js"></script>
        <script type="text/javascript" th:src="@{/javascripts/lib/axios.min.js}"></script>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            const csrf_header = $('meta[name="_csrf_header"]').attr('content'),
                csrf_token = $('meta[name="_csrf"]').attr('content');
            let headers = {};
            headers[csrf_header] = csrf_token;

            PaystackPop.setup({
                key: 'pk_test_11e5abfb56cdb46ed86516ce2620a87119819546',
                email: /*[[${customer.email}]]*/ 'customer@email.com',
                amount: /*[[${paymentTotal}]]*/ 10000,
                container: 'paymentContainer',
                currency: 'NGN',
                ref: '' + /*[[${reference}]]*/ '',
                callback: function (response) {
                    let data = { reference: response.reference };
                    axios.post('/payment', data, { headers: headers }).then((res) => {
                        window.location = '/confirmation';
                    }).catch((error) => {
                        console.log(error);
                        // in case connection to mail server fails on localhost
                        setTimeout(() => {
                            window.location = '/confirmation';
                        }, 6000);
                    });
                },
            });
        /*]]>*/
        </script>
    </div>
</body>
</html>