<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Login</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- register-area start -->
        <div class="register-area ptb-20">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-2 col-xl-2 col-sm-12"></div>
                    <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                        <div th:if="${success}">
                            <div th:replace="fragments/alert :: alert(type='success', message=${success})"></div>
                        </div>

                        <div th:if="${error}">
                            <div th:replace="fragments/alert :: alert(type='danger', message=${error})"></div>
                        </div>

                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <form th:action="@{/}" method="post">
                                        <input type="email" name="email" placeholder="Email Address"
                                               th:value="${customerEmail}" autocomplete="off">
                                        <input type="password" name="password" placeholder="Password">
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <a th:href="@{/register}">Don't have an account? Register</a>
                                            </div>
                                            <button type="submit" class="default-btn floatright">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-6 col-xl-6 home-background"></div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
    </div>
</body>
</html>