<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Register</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- register-area start -->
        <div class="register-area ptb-20">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-2 col-xl-2"></div>
                    <div class="col-md-12 col-12 col-lg-4 col-xl-4">
                        <div th:if="${error}">
                            <div th:replace="fragments/alert :: alert(type='danger', message=${error})"></div>
                        </div>

                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <form th:action="@{/register}" th:object="${customer}" method="post">
                                        <input type="text" name="firstname" placeholder="First Name"
                                               th:field="*{firstName}" autocomplete="off">
                                        <span th:if="${#fields.hasErrors('firstName')}"
                                              th:errors="*{firstName}" class="text-danger"></span>
                                        <input type="text" name="surname" placeholder="Surname"
                                               th:field="*{surname}" autocomplete="off">
                                        <span th:if="${#fields.hasErrors('surname')}"
                                              th:errors="*{surname}" class="text-danger"></span>
                                        <input name="email" placeholder="Email Address" type="email"
                                               th:field="*{email}" autocomplete="off">
                                        <span th:if="${#fields.hasErrors('email')}"
                                              th:errors="*{email}" class="text-danger"></span>
                                        <input type="password" name="password" placeholder="Password"
                                               th:field="*{password}" autocomplete="off">
                                        <span th:if="${#fields.hasErrors('password')}"
                                              th:errors="*{password}" class="text-danger"></span>
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <a th:href="@{/}">Have an account? Sign In</a>
                                            </div>
                                            <button type="submit" class="default-btn floatright">
                                                Register
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12 col-lg-6 col-xl-6 home-background"></div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
    </div>
</body>
</html>